<div>
  <div class="dashboard-products-container">
    <h5>Products</h5>
    <% if current_user.admin %>
      <%= link_to "Add", new_product_path, class:"btn btn-add" %>
    <% else %>
      <%= link_to "Add", products_path, class:"btn btn-add" %>
    <% end %>
  </div>
  <% objects.each do |object| %>
    <div class="dashboard-product-card">
      <div>
        <% if current_user.admin %>
          <%= cl_image_tag object.photo.key, height: 100, crop: :fill %>
        <% else %>
          <%= cl_image_tag object.slot.product.photo.key, height: 100, crop: :fill %>
        <% end %>
      </div>
      <div class="dashboard-product-card-content">
        <div class="dashboard-product-card-details">
          <% if current_user.admin %>
            <h5><%= object.name %></h5>
            <p><%= object.price %>💰</p>
          <% else %>
            <h5><%= object.slot.product.name %></h5>
            <p><%= object.slot.product.price %>💰</p>
          <% end %>
        </div>
        <div class="dashboard-product-card-buttons">
          <% if current_user.admin %>
            <%= link_to icon('fas', 'pen-to-square'), edit_product_path(object.id), class:"btn-rent" %>
            <%= link_to icon('fas', 'trash-can'), product_path(object.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-rent" %>
          <% else %>
            <%= link_to icon('fas', 'trash-can'), booking_path(object.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-rent" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
