<div>
  <div class="dashboard-products-container">
    <h5 class="h5-bookings">Bookings</h5>
    <%= link_to "Add", products_path, class:"btn btn-add-purple" %>
  </div>
  <% objects.each do |object| %>
    <div class="dashboard-product-card">
      <div>
        <%= cl_image_tag object.slot.product.photo.key, height: 200, crop: :fill %>
      </div>
      <div class="dashboard-product-card-content">
        <div class="dashboard-product-card-details">
          <h5><%= object.slot.product.name %></h5>
          <p><%= object.slot.product.price %> <%= image_tag "token_03.svg", alt: "LeTrucToken"%></p>
          <div class="dashboard-product-card-time">
            <% if current_user.admin %>
              <p class="product-owner"><strong>Owner:</strong> @<%= object.user.username %></p>
            <% end %>
            <p class="product-time"><%= object.slot.start_time %> </p>
          </div>
        </div>
        <div class="dashboard-product-card-buttons">
          <%= link_to icon('fas', 'trash-can'), booking_path(object.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-bookings" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
