<div class="dashboard-container">

  <div class="dashboard-user-container">
    <%# necessario alterar para avatares especificos %>
    <%= image_tag "https://res.cloudinary.com/dfetf2wc4/image/upload/v1692791191/avatar_margarida_etq8dy.png" %>
    <div>
      <h3><%= current_user.username %></h3>
      <p><%= current_user.email %></p>
    </div>
  </div>

  <div>

    <div class="dashboard-products-container">
      <h5>Products</h5>
      <%= link_to "Add a product", new_product_path, class:"btn btn-red" %>
    </div>

    <% @products.each do |product| %>
      <div class="dashboard-product-card">
        <div>
          <%= cl_image_tag product.photo.key, height: 100, crop: :fill %>
        </div>
        <div class="dashboard-product-card-content">
          <div class="dashboard-product-card-details">
            <h5><%= product.name %></h5>
            <p><%= product.price %> 💰</p>
          </div>
          <div class="dashboard-product-card-buttons">
            <%= link_to icon('fas', 'pen-to-square'), edit_product_path(product.id), class:"btn-rent" %>
            <%= link_to icon('fas', 'trash-can'), product_path(product.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-rent" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
