<div class="main-container-show">

  <div class="header-product-show">
    <h1><%= @product.name %></h1>

    <%= render 'product_category_pill',  product: @product %>
  </div>

  <div class="description-product-container">

    <div class="left-container">

      <div class="image-product cont">
        <%= cl_image_tag @product.photo.key, crop: :fill %>
      </div>

      <div class="info-product cont">
        <p>
          <%= @product.description %>
        </p>
      </div>

    </div>

    <div class="right-container">

      <div class="nice-phrase cont">
        <h2>Use the <%= @product.name %> as you want!</h2>
      </div>

      <div class="schedule-form cont">
        <p class="product-price"><%= @product.price %> 💰</p>
        <% slots = Slot.where(product_id: @product) %>
        <% slots.each do |slot| %>
        <div class="d-flex flex-column px-5 mb-2">
        <% if slot.start_time == 9  %>
          <p class="fw-bold">Morning</p>
        <%end%>
        <%if slot.start_time == 12  %>
          <p class="fw-bold mt-2">Afternoon</p>
        <%end%>
        <%= render "components/slots", hours: "#{slot.start_time} #{slot.start_time >= 12 ? "pm" : "am"} - #{slot.end_time} #{slot.end_time >= 12 ? "pm" : "am"}"%>
        </div>
        <%end%>
        <%# <%= simple_form_for @product do |f| %>
          <%#= f.input :opening_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } }
          %>
        <%# end %>
      </div>

    </div>

  </div>

  <%# <div class="reviews-container cont">
  </div> %>

</div>
