<div class="main-container-show">

  <div class="header-product-show">
    <h1><%= @product.name %></h1>

    <%= render 'products/product_category_pill',  product: @product %>
  </div>

  <div class="description-product-container">

    <div class="left-container">

      <div class="image-product cont">
        <%= cl_image_tag @product.photo.key, crop: :fill %>
      </div>

      <div class="info-product cont">
        <p>
          <%= @product.description %>
        </p>
      </div>

    </div>

    <div class="right-container">

      <div class="nice-phrase cont">
        <h2>Use the <%= @product.name %> as you want!</h2>
      </div>

      <div class="schedule-form cont" data-controller="toggle">
        <div class="d-flex justify-content-center align-items-center justify-content-evenly" >
        <h1 class="fw-bold priceh1" >Price:</h1>
        <p class="product-price d-flex justify-content-center mb-3"><%= @product.price %>  <%= image_tag "token_03.svg", alt: "LeTrucToken"%></p>

        </div>

        <%= simple_form_for @booking do |f| %>


          <div class="d-flex flex-column px-5 mb-2">
             <%= f.error_notification %>
             <%= f.association :slot,
                as: :check_boxes,
                input_html: { class: "tag-selector", data: { action: "click->toggle#toggleChanged", toggle_target: "toggleButton" }, inner_text: "Hours"  },
                item_wrapper_class: 'tag-item',
                collection: Slot.where(product_id: @product),
                label_method: :start_time,
                label:"Hours",
                include_hidden: false
              %>
              <p style="color:red;"><%= f.object.errors.full_messages.join(", ") if f.object.errors.any? && f.object.errors.attribute_names.first != :slot %></p>

          </div>

          <div class="d-flex justify-content-end mt-4">
            <%= f.submit "Book Now!",
              class: "btn btn-light "
            %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
